<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <listener>
        <listener-class>com.jukta.jtahoe.taglib.ContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>res</filter-name>
        <filter-class>com.jukta.jtahoe.LibraryResourcesFilter</filter-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>all</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>res</filter-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.txt</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>blocksDir</param-name>
        <param-value>blocks</param-value>
    </context-param>
    <context-param>
        <param-name>dataHandlerProviderClass</param-name>
        <param-value>com.jukta.jtahoe.TestDataHandlerProvider</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>