.filterPanel {
    border: 1px solid red;
    height: 100%;
}

.clientPanel {
    height: 100%;
}

.clientPanel .clientHeader {
    background: #333333;
    color: white;
    padding: 20px;
}

.clientPanel .clientHeader > div {
    display: inline-block;
}

.clientPanel .clientBody {
    height: 100%;
    background: #555555;
}

.clientPanel .title {
    font-size: 24px;
}

.clientPanel .topPanel {
    height: 50%;

}

.clientPanel .bottomPanel {
    height: 50%;
    border-top: 1px solid white;
}


.statusFilterItem {
    width: 232px;
    height: 60px;
    display: inline-block;
    padding: 20px;
    background: #555555;
    margin-left: 20px;
    position: relative;
    border-radius: 5px;
}

.statusFilterItem .pie {
    position: absolute;
    top: 0;
    right: 0;
}

.grid {

}

.grid table {
    width: 100%;
    font-size: 13px;
    font-weight: 100;
}

.grid table th {
    color: white;
    background-color: #666666;
    padding: 10px;
}

.grid table tr.gridLine:nth-child(even) {
    background-color: #D3EDDE;
}

.grid table tr.gridLine:nth-child(odd) {
    background-color: #D3DEED;
}

.grid table .gridLine td {
    color: black;
    text-align: center;
    padding: 10px;
}


